div {
  box-sizing: border-box;
}

canvas {
  border: 1px solid black;
  box-shadow: : 5px 5px 5px gray;
}

#gameSpace {
  position: relative;
  width: 700px;
  height: 700px;
  border: 1px solid black;
  background-color: black;
  box-shadow: 5px 5px 5px #333;
}

#health {
  left: 0;
  top: 100px;
  width: 1000px;
  overflow-y: auto;
}

.health {
  position: absolute;
  width: 500px;
  height: 50px;
}

.heart {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 1px solid #444;
  background-color: red;
}

#score {
  left: 500px;
  top: 0;
}

.score {
  position: absolute;
  height: 50px;
  overflow: auto;
}

#enemySpace {
  left: 20px;
  top: 70px;
}

.enemySpace {
  position: absolute;
  width: 660px;
  height: 600px;
  overflow: auto;
}

.enemy {
  position: relative;
  margin: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #444;
  background-color: red;
}

#player {
  left: 330px;
  top: 650px;
}

.player {
  position: relative;
  margin: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #444;
  background-color: black;
}

#btn {
  top: 830px;
}

.btn {
  position: absolute;
  border: auto;
  background-color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
